<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>


<h1>What's new?</h1>
<br>

<form th:action="@{/savePost}" th:object="${post}" method="POST">
    <input type="text" placeholder="What's on your mind?" th:field="*{message}">
    <br>
    <br>
    <input type="submit" value="Publish">
</form>

<br>
<br>

<div th:each="post: ${posts}">

    <h5>
    <span th:text="${post.getCreator().name}" />
    <span th:text="${post.createdAt}"/>
    <em>says</em>
    </h5>
    <p th:text="${post.message}" />
    <a th:if="${user.getId()} == ${post.creator.getId()}" th:href="@{'/deleteMyPost/' + ${post.id}}">Delete</a>

    <!--    <p th:text="${post.getCreatedAt}"/>-->
<!--    <p th:text="${post.getCreator}"/>-->

</div>


<!--<table>-->
<!--    <tbody>-->
<!--    <tr th:each="post: ${posts}">-->
<!--        <td th:text="${user.id}"></td>-->
<!--        <td th:text="${user.name}"></td>-->
<!--        <td th:text="${post.id}"></td>-->
<!--        <td th:text="${post.message}"></td>-->
<!--        <td th:text="${post.creator}"></td>-->
<!--        <td th:text="${post.createdAt}"></td>-->
<!--        <td>-->
<!--            <a th:if="${user.getId()} == ${post.creator.getId()}" th:href="@{'/deleteMyPost/' + ${post.id}}">Delete</a>-->
<!--        </td>-->

<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<br>

<span>
        Return to my
        <a th:href="@{'/userLoggedIn/' + ${user.getId()}}">Profile</a>
</span>


</body>
</html>